@font-face {
  font-family: dancing-script;
  src: url(../styles/fonts/DancingScript.ttf);
}

@font-face {
  font-family: inter;
  src: url(../styles/fonts/Inter.ttf);
}

:root {
  --title-font: dancing-script;
  --text-font: inter;
  --color-base: #d5f7ec;
  --color-base-contrast: #454b4f;
  --color-secondary: #bae8d5;
  --color-secondary-contrast: #e74139;
  --color-accent: #84d1b8;
  --color-accent-contrast: #fff;
  --color-shadow: #454b4f;
}

:root.dark {
  --color-base: #785d56;
  --color-base-contrast: #fff4e3;
  --color-secondary: #c6b299;
  --color-secondary-contrast: #a8373f;
  --color-accent: #a8373f;
  --color-shadow: rgb(34, 3, 3);
}

html,
body {
  height: 100%;
  margin: 0;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.body {
  display: flex;
  min-height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#app {
  display: grid;
  width: 100%;
  grid-template: 1fr / 1fr 4fr;
  grid-template-areas: "navbar main";
  color: var(--color-base-contrast);
  font-family: var(--text-font);
  transition: 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition-property: background-color, color;
}

#navbar {
  grid-area: navbar;
  background-color: var(--color-accent);
  color: var(--color-accent-contrast);
  transition: 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition-property: background-color, color;
  display: grid;
  grid-template-rows: 1.5fr repeat(14, 1fr);
  place-items: center;
}

#navbar > .item {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: "icon text";
  place-items: center;
  transition: 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition-property: background-color, color;
}

#navbar > .item:hover,
#navbar > .item.focus {
  background-color: var(--color-accent-contrast);
  color: var(--color-accent);
  outline: none;
}

#navbar > .item:empty:hover,
#navbar > .item:empty.focus {
  background-color: var(--color-accent);
}

#navbar > .item > .link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#navbar > .item > h1 {
  font-family: var(--title-font);
  font-size: calc(13px + 1.5vw);
  margin: 0;
}

.icon {
  height: calc(8px + 1vw);
  width: calc(8px + 1vw);
  grid-area: icon;
  background-color: var(--color-accent-contrast);
  filter: drop-shadow(0 0 0.5vw var(--color-shadow));
  transition: 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition-property: background-color, color;
}

#navbar > .item:hover > .icon,
#navbar > .item.focus > .icon {
  background-color: var(--color-accent);
}

#navbar > .item > .text {
  width: 100%;
  font-size: calc(8px + 1vw);
  text-align: left;
  grid-area: text;
  text-shadow: 0 0 5px var(--color-shadow);
}

#navbar > .item:hover > .text,
#navbar > .item.focus > .text {
  text-shadow: none;
}

#navbar > #credits.item > .text {
  font-size: calc(6px + 0.5vw);
}

.icon#dashboard {
  -webkit-mask: url(../images/dashboard.svg) no-repeat center;
  mask: url(../images/dashboard.svg) no-repeat center;
}

.icon#home {
  -webkit-mask: url(../images/home.svg) no-repeat center;
  mask: url(../images/home.svg) no-repeat center;
}

.icon#profile {
  -webkit-mask: url(../images/profile.svg) no-repeat center;
  mask: url(../images/profile.svg) no-repeat center;
}

.icon#messages {
  -webkit-mask: url(../images/messages.svg) no-repeat center;
  mask: url(../images/messages.svg) no-repeat center;
}

.icon#history {
  -webkit-mask: url(../images/history.svg) no-repeat center;
  mask: url(../images/history.svg) no-repeat center;
}

.icon#tasks {
  -webkit-mask: url(../images/tasks.svg) no-repeat center;
  mask: url(../images/tasks.svg) no-repeat center;
}

.icon#communities {
  -webkit-mask: url(../images/communities.svg) no-repeat center;
  mask: url(../images/communities.svg) no-repeat center;
}

.icon#settings {
  -webkit-mask: url(../images/settings.svg) no-repeat center;
  mask: url(../images/settings.svg) no-repeat center;
}

.icon#support {
  -webkit-mask: url(../images/support.svg) no-repeat center;
  mask: url(../images/support.svg) no-repeat center;
}

.icon#privacy {
  -webkit-mask: url(../images/privacy.svg) no-repeat center;
  mask: url(../images/privacy.svg) no-repeat center;
}

.icon#theme {
  -webkit-mask: url(../images/moon.svg) no-repeat center;
  mask: url(../images/moon.svg) no-repeat center;
}

.icon#github {
  -webkit-mask: url(../images/github.svg) no-repeat center;
  mask: url(../images/github.svg) no-repeat center;
}

#main {
  grid-area: main;
  display: grid;
  grid-template-rows: 0.1fr 2fr;
  place-items: center;
}

#title-bar {
  background: var(--color-base);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1.5fr 12fr 3.3fr 1fr 3.3fr 1fr 4.3fr 1.5fr;
  grid-template-rows: 1fr 1.6fr;
  grid-template-areas:
    "empty_l search_icon search_bar search_bar empty_m alarm_icon user_icon_s user_name_s user_name_s empty_r"
    "empty_l user_icon_l user_icon_l user_name_l btn_new btn_new btn_up btn_up btn_share empty_r";
  transition: 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition-property: background-color, color;
}

.icon#search_icon {
  grid-area: search_icon;
  -webkit-mask: url(../images/search.svg) no-repeat center;
  mask: url(../images/search.svg) no-repeat center;
  background-color: var(--color-base-contrast);
}

#search_bar {
  grid-area: search_bar;
  width: 100%;
  height: 100%;
}

#search_bar:focus {
  outline: none;
}

#search_bar > input {
  width: 90%;
  height: 1.5rem;
  margin: 0.7rem;
  border-radius: 10px;
  border: 1px solid var(--color-base-contrast);
  background-color: var(--color-accent);
  color: var(--color-accent-contrast);
  transition: 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition-property: background-color, color;
}

#search_bar > input::placeholder {
  color: var(--color-accent-contrast);
}

#search_bar > input:focus {
  outline: none;
  background-color: var(--color-accent-contrast);
  color: var(--color-accent);
}

#alarm_icon {
  grid-area: alarm_icon;
  -webkit-mask: url(../images/alarm.svg) no-repeat center;
  mask: url(../images/alarm.svg) no-repeat center;
  background-color: var(--color-base-contrast);
}

.avatar {
  background: url(../images/avatar.png) no-repeat center;
  background-size: contain;
}

#user_icon_s {
  grid-area: user_icon_s;
  width: calc(16px + 2vw);
  height: calc(16px + 2vw);
}

#user_icon_l {
  grid-area: user_icon_l;
  width: calc(35px + 2vw);
  height: calc(35px + 2vw);
}

#user_name_s {
  grid-area: user_name_s;
  width: 100%;
  text-align: center;
  font-size: calc(12px + 1vw);
  font-weight: 900;
  font-family: var(--title-font);
}

#user_name_l {
  grid-area: user_name_l;
  width: 100%;
  text-align: center;
}

#user_name_l > * {
  text-align: left;
  margin: 0;
}

#user_name_l > h4 {
  font-size: calc(12px + 1vw);
  font-weight: 900;
  font-family: var(--title-font);
}

#user_name_l > h3 {
  font-size: calc(6px + 1vw);
  font-weight: 900;
}

.btn {
  width: 95%;
  padding: 10px 0;
  margin: auto;
  border: none;
  border-radius: 10px;
  background-color: var(--color-accent);
  color: var(--color-accent-contrast);
  font-size: calc(7px + 0.8vw);
  font-weight: 600;
  font-family: var(--title-font);
  text-shadow: 0 0 3px var(--color-shadow);
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition-property: background-color, color;
}

.btn:hover {
  background-color: var(--color-accent-contrast);
  color: var(--color-accent);
  text-shadow: none;
}

#btn_new {
  grid-area: btn_new;
}

#btn_up {
  grid-area: btn_up;
}

#btn_share {
  grid-area: btn_share;
}

#content {
  background: var(--color-secondary);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: calc(18px + 1.1vw) 6fr;
  grid-template-areas:
    "title_card title_sidebar"
    "cards sidebar";
  transition: 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition-property: background-color, color;
  box-shadow: inset 0 0 0.5rem 0.1rem var(--color-shadow);
}

#title_cards,
#title_sidebar,
#title_trending {
  padding-left: 1vw;
  text-align: left;
  font-size: calc(8px + 1.1vw);
  font-weight: 600;
  align-self: center;
  color: var(--color-secondary-contrast);
  transition: 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition-property: background-color, color;
}

#title_cards {
  grid-area: title_card;
  width: 98%;
}

#title_sidebar {
  grid-area: title_sidebar;
  width: 96%;
}

#cards {
  grid-area: cards;
  width: 98%;
  height: 98%;
  padding-bottom: 1%;
  gap: 1vw;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(200px + 10vw), 1fr));
  transition: 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition-property: background-color, color;
}

#cards > * {
  background-color: var(--color-base);
  color: var(--color-base-contrast);
  border-radius: 10px;
  border-left: 0.5rem solid var(--color-accent);
  padding: 0.5vw;
  margin-left: 1vw;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  grid-template-areas:
    "title title title title"
    "description description description description"
    "empty btn_favorite btn_watch btn_share";
  box-shadow: 0 0 0.5rem 0.1rem var(--color-shadow);
}

#card > .card_title {
  grid-area: title;
  font-size: calc(15px + 0.8vw);
  font-weight: 600;
  font-family: var(--title-font);
}

#card > .card_description {
  grid-area: description;
  font-size: calc(7px + 0.5vw);
  font-weight: 400;
}

#card > .card_empty {
  grid-area: empty;
}

#card > .card_btn {
  height: calc(8px + 1vw);
  width: calc(8px + 1vw);
  font-family: var(--title-font);
  cursor: pointer;
  background-color: var(--color-base-contrast);
  transition: 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition-property: background-color, color;
  align-self: center;
  justify-self: center;
}

#card > .card_btn:hover {
  background-color: var(--color-accent);
  color: var(--color-accent-contrast);
}

#card > #btn_favorite {
  grid-area: btn_favorite;
  -webkit-mask: url(../images/favorite.svg) no-repeat center;
  mask: url(../images/favorite.svg) no-repeat center;
}

#card > #btn_favorite.filled {
  -webkit-mask: url(../images/favorite_filled.svg) no-repeat center;
  mask: url(../images/favorite_filled.svg) no-repeat center;
}

#card > .filled {
  background-color: var(--color-accent);
}

#card > #btn_watch {
  grid-area: btn_watch;
  -webkit-mask: url(../images/watch.svg) no-repeat center;
  mask: url(../images/watch.svg) no-repeat center;
}

#card > #btn_watch.filled {
  -webkit-mask: url(../images/watch_filled.svg) no-repeat center;
  mask: url(../images/watch_filled.svg) no-repeat center;
}

#card > #btn_share {
  grid-area: btn_share;
  -webkit-mask: url(../images/share.svg) no-repeat center;
  mask: url(../images/share.svg) no-repeat center;
}

#card > #btn_share.filled {
  -webkit-mask: url(../images/share_filled.svg) no-repeat center;
  mask: url(../images/share_filled.svg) no-repeat center;
}

#sidebar {
  grid-area: sidebar;
  width: 100%;
  height: 98%;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr calc(18px + 1.1vw) 1fr;
  transition: 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition-property: background-color, color;
}

#sidebar > .panel {
  background-color: var(--color-base);
  color: var(--color-base-contrast);
  border-radius: 10px;
  padding: 0.5vw;
  margin: 0 1vw;
  box-shadow: 0 0 0.5rem 0.1rem var(--color-shadow);
}

#announcements.panel {
  display: grid;
  grid-template-rows: 0.5fr 1.3fr 0.3fr 0.5fr 1.3fr 0.3fr 0.5fr 1.3fr;
}

#announcements.panel > .panel_title {
  font-size: calc(8px + 1vw);
  font-weight: 600;
  font-family: var(--title-font);
  align-self: center;
}

#announcements.panel > .panel_description {
  font-size: calc(5px + 0.7vw);
  font-weight: 400;
}

#announcements.panel > :empty {
  text-align: center;
  height: 0.1vw;
  width: 100%;
  margin: 0.3vw 0;
  border-width: 0.1vh 0;
  border-color: aliceblue;
  border-style: dashed;
}

#title_trending {
  width: 17vw;
}

#trending.panel {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
    "trending_logo1 trending_title1"
    "trending_logo1 trending_description1"
    "trending_logo2 trending_title2"
    "trending_logo2 trending_description2"
    "trending_logo3 trending_title3"
    "trending_logo3 trending_description3"
    "trending_logo4 trending_title4"
    "trending_logo4 trending_description4";
}

#trending.panel > .panel_title {
  font-size: calc(8px + 0.7vw);
  font-weight: 600;
  align-self: end;
  word-wrap: break-word;
  width: 100%;
}

#trending.panel > .panel_description {
  font-size: calc(5px + 0.7vw);
  font-weight: 400;
}

#trending.panel > .avatar {
  width: 3.3vw;
  height: 3.3vw;
  justify-self: center;
  align-self: center;
}

#trending.panel > #mossy.avatar {
  grid-area: trending_logo1;
  background: url(../images/avatar-mossy.png) no-repeat center;
  background-size: contain;
}

#trending.panel > #maury.avatar {
  grid-area: trending_logo2;
  background: url(../images/avatar-maury.png) no-repeat center;
  background-size: contain;
}

#trending.panel > #kelsy.avatar {
  grid-area: trending_logo3;
  background: url(../images/avatar-kelsy.png) no-repeat center;
  background-size: contain;
}

#trending.panel > #lucy.avatar {
  grid-area: trending_logo4;
  background: url(../images/avatar-lucy.png) no-repeat center;
  background-size: contain;
}
